<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket Skin - 高性能Minecraft皮肤站</title>
  <link rel="preload" as="image" href="{{ home_pic_url }}">
  <link rel="stylesheet" href="/assets/navbar.css">
  <link rel="stylesheet" href="/assets/font.css">
  <link rel="stylesheet" href="/assets/home.css">
</head>

<body>
  <header>
    <div>
      <a href="/" class="logo">Rocket Skin</a>
      <div>
        <div class="nav">
          <div class="env"> {{!-- i18n --}}
            <svg style="width: 22px;fill: #ffffff9c;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
              focusable="false" viewBox="0 0 24 24" class="vt-locales-btn-icon" data-v-2719a954="">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d=" M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z "
                class="css-c4d79v"></path>
            </svg>
            <div class="menu" style="right: 10px;">
              <div class="group" style="border-top: none;">
                <a href="/">English
                  <svg style="opacity: 0.5; transform: scale(0.6);" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                    class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
                <a href="/">简体中文
                  <svg style="opacity: 0.5; transform: scale(0.6);" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                    class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
                <a href="/">Русский
                  <svg style="opacity: 0.5; transform: scale(0.6);" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                    class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
              </div>
            </div>
          </div>
        </div>
        <a href="/auth/login" style="margin-left: 40px;"><i style="font-family: fa-pro; font-style: normal; margin-right: 3px" class="login"></i>登录</a>
      </div>
    </div>
  </header>
  <main>
    <div class="title-bar">Rocket Skin</div>
    <div class="desc-bar">快速的 Minecraft 皮肤站</div>
    <a href="/auth/register" class="button">现在注册</a>
  </main>
  <footer>
    <div>© 2022 - 2023 <a href="/">Rocket Skin</a></div>
    <div>由 <a href="https://github.com/Broken-Deer/rocket-skin">Rocket Skin</a> 强力驱动</div>
  </footer>
</body>

</html>